<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="网易,年终策划,2015,二分之一">
    <meta name="description" content="故事，在两块屏幕之间一直轮回，直到你选择按下停止键。">
    <meta name="renderer" content="webkit">
    <title>1/2的生活</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/css/a.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body class="half_life">
    <div class="wrapper">
        <div class="content por">
            <section class="cover hid">
                <div class="cover_box">
                    <div class="cover_left cover_item">
                        <img src="/static/img/cl_h1.png" alt="" class="cl_h1">
                        <img src="/static/img/cl_tv.png" alt="" class="cl_tv">
                    </div>
                    <div class="cover_right cover_item">
                        <img src="/static/img/cr_h1.png" alt="" class="cr_h1">
                        <img src="/static/img/cr_text.png" alt="" class="cr_text">
                        <img src="/static/img/cr_phone.png" alt="" class="cr_phone">
                    </div>
                </div>
                <img src="/static/img/open_btn.png" alt="startBtn" class="open">
                <img src="/static/img/ctouch.svg" alt="" class="ctouch">
            </section>
            <section class="mode">
                <img src="/static/img/text1.png" alt="" class="text1">
                <br>
                <img src="/static/img/text2.png" alt="" class="text2">
                <div class="h1_mode">
                    <img src="/static/img/single.png" alt="单机" class="single_mode">
                    <img src="/static/img/double.png" alt="双机" class="double_mode">
                </div>
                <p class="cue">* 请在wifi条件下阅读，请打开手机音效</p>
            </section>
            <section class="qrcode">
                <img src="/static/img/text_a1.png" alt="" class="text_a1">
                <div id="qrcode"></div>
            </section>
            <!-- 正在寻找 -->
            <section class="seek">
                <img src="/static/img/text_a3.png" alt="" class="text_a3">
                <ul class="waiting_playerb">
                    <li class="current"></li>
                    <li></li>
                    <li></li>
                    <li class="last"></li>
                </ul>
            </section>
            <!-- playerb 加入-->
            <section class="join">
                <img src="/static/img/text_a4.png" alt="" class="text_a4">
                <br>
                <img src="/static/img/start_btn.png" alt="" class="start_btn">
                <br>
                <img src="/static/img/hand.png" alt="" class="hand">
            </section>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="/static/js/shoushi.js"></script>
    <script src="/static/js/qrcode.js"></script>
    <script src="https://cdn.bootcss.com/velocity/1.5.0/velocity.js"></script>

    <script>
        function MathRand() {
            var num = "";
            for (var i = 0; i < 6; i++) {
                num += Math.floor(Math.random() * 10);
            }
            return num;
        }
        console.log(MathRand());
        /* 点击开始按钮 */
        new AlloyFinger($(".open")[0], {
            singleTap: function () {
                $(".cover_left").velocity({
                    translateX: ["-100%", 0]
                }, {
                    duration: 2000,
                    complete: function () {
                        $(".cover").addClass("hid");
                    }
                });
                $(".cover_right").velocity({
                    translateX: ["100%", 0]
                }, {
                    duration: 2000
                });
                $(this).hide();
                $(".ctouch").hide();
            }
        });
        /* 点击双机模式 */
        new AlloyFinger($(".double_mode")[0], {
            singleTap: function () {
                $(".mode").hide();
                var socket = io.connect();
                var roomid = null;
                socket.emit("registerRoom", MathRand());
                socket.on("registerSuccess", function (data) {
                    new QRCode(document.getElementById('qrcode'), {
                        text: "http://10.97.204.166:2018/playb/" + data,
                        width: 290,
                        height: 290
                    });
                });
                socket.on("playbJoin", function () {
                    $(".qrcode").hide();
                    var index = 0;

                    function waitplayb() {
                        if (index > 3) {
                            index = 0;
                        }
                        $(".waiting_playerb li").removeClass("current");
                        $(".waiting_playerb li").eq(index).addClass("current");
                        index++;
                    }
                    setInterval(waitplayb, 1000);
                });
                socket.on("playbClickJoin", function () {
                    console.log("用户B点击了加入按钮");
                    $(".seek").hide();
                });
                new AlloyFinger($(".start_btn")[0], {
                    singleTap: function () {
                        console.log(socket);
                        $(".join").hide();
                        socket.emit("playaClickStart");
                        alert(1);
                    }
                });
                socket.on("reconnect", function () {
                    alert("重新连接");
                });
                socket.on("disconnect", function () {
                    alert("断开连接");
                });
            }
        });
    </script>
</body>

</html>