<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="网易,年终策划,2015,二分之一">
    <meta name="description" content="故事，在两块屏幕之间一直轮回，直到你选择按下停止键。">
    <meta name="renderer" content="webkit">
    <title>1/2的生活</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/css/a.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body class="half_life">
    <div class="wrapper">
        <div class="content">
            <section class="cover">
                <div class="cover_box">
                    <div class="cover_left cover_item">
                        <img src="/static/img/cl_h1.png" alt="" class="cl_h1">
                        <img src="/static/img/cl_tv.png" alt="" class="cl_tv">
                    </div>
                    <div class="cover_right cover_item">
                        <img src="/static/img/cr_h1.png" alt="" class="cr_h1">
                        <img src="/static/img/cr_text.png" alt="" class="cr_text">
                        <img src="/static/img/cr_phone.png" alt="" class="cr_phone">
                    </div>
                </div>
                <img src="/static/img/open_btn.png" alt="startBtn" class="start">
                <img src="/static/img/ctouch.svg" alt="" class="ctouch">
            </section>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="/static/js/shoushi.js"></script>
    <script>
        /* 点击开始按钮 */
        new AlloyFinger($(".start")[0], {
            singleTap: function () {
                alert(1);
            }
        });
    </script>
</body>

</html>