<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="网易,年终策划,2015,二分之一">
    <meta name="description" content="故事，在两块屏幕之间一直轮回，直到你选择按下停止键。">
    <meta name="renderer" content="webkit">
    <title>1/2的生活</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/css/b.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="double_player">
        <div class="wrapper">
            <section class="join">

            </section>
        </div>
    </div>
    <script>
        var socket = io.connect();
        socket.on("connect", function () {
            socket.emit("playbJoin");
            socket.on("phoneEnough", function () {
                alert("该链接已经配对成功了");
                window.location.href = "http://localhost:2018/";
            });
        });
    </script>
</body>

</html>