<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="网易,年终策划,2015,二分之一">
    <meta name="description" content="故事，在两块屏幕之间一直轮回，直到你选择按下停止键。">
    <meta name="renderer" content="webkit">
    <title>1/2的生活</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/css/b.css">
    <!-- <script src="/static/js/socket.io.js"></script> -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
    <div class="double_player">
        <div class="wrapper">
            <h1 style="width:0;height:0;visibility:hidden;" id="roomid">{{{data}}}</h1>
            <section class="join">
                <img src="/static/img/text_b1.png" alt="" class="text_b1">
                <br>
                <img src="/static/img/join_btn.png" alt="" class="join_btn">
                <br>
                <img src="/static/img/hand.png" alt="" class="hand">
                <br>
            </section>
            <!-- 等待 -->
            <section class="waiting">
                <img src="/static/img/wait_btn_disable.png" alt="" class="waiting_img">
            </section>
            <!-- 视频加载页面 -->
            <section class="vloading">
                <img src="/static/img/moon.png" alt="" class="moon">
                <div class="loading_progress">
                    <div class="bar"></div>
                </div>
            </section>
            <!-- 播放页面 -->
            <section class="play_page">
                <img src="/static/img/play_btn.png" alt="" class="play_btn">
            </section>
            <!-- 视频 -->
            <section class="video">
                <video preload="auto" x-webkit-airplay="true" webkit-playsinline="true" id="past_video">
                    <source src="/static/video/b.mp4" type="video/mp4" />
                </video>
            </section>
            <!-- 封底 -->
            <section class="dp_back">
                <img src="/static/img/text_back.png" alt="" class="text_back">
            </section>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="/static/js/shoushi.js"></script>

    <script>
        /* 监听视频文件的加载 */
        var flag = false;
        $("video")[0].addEventListener("canplaythrough", function () {
            flag = true;
            console.log(flag);
        });
        $("video")[0].addEventListener("ended", function () {
            console.log("播放完毕");
            $(".video").hide();
        });
        var id = $("#roomid").text();
        console.log(id);
        var socket = io.connect("ws://halflife.qqhndyw.xyz");
        socket.emit("playbJoin", id);
        // socket.on("phoneEnough", function () {
        //     alert("该链接已经配对成功了");
        //     window.location.href = "http://halflife.qqhndyw.xyz/";
        // });
        socket.on("playaClickStart", function () {
            $(".waiting").hide();
        });
        socket.on("playbBarStart", function () {
            $(".bar").width("100%");
            $(".bar")[0].addEventListener("webkitTransitionEnd", function () {
                socket.emit("playbBarEnd");
                $(".vloading").hide();
            });
        });
        new AlloyFinger($(".join_btn")[0], {
            singleTap: function () {
                socket.emit("playbClickJoin");
                $(".join").hide();
            }
        });
        new AlloyFinger($(".play_btn")[0], {
            singleTap: function () {
                // if (flag) {
                //     $(".play_page").hide();
                //     $("video")[0].play();
                // } else {
                //     alert("视频未加载完成");
                // }
                $(".play_page").hide();
                $("video")[0].play();
            }
        });
    </script>
</body>

</html>